@use "../../../styles/variables" as *;

.titleArticle{
    font-size: 6rem; 
    font-family: $font;
    color: $text;
    text-align: center;
    background-color: $secondary;
}
@media screen and (min-width: 360px) and (max-width: 414px) {
    .titleArticle{
        font-size: 3rem;
    }
}