@use "../../styles/variables.scss" as *;
.container{
    width: 100%;
    height: 1080px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 60px ;
    font-family: $font;
}
.containerText {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 50px;
}
.containerText h1{
    font-size:64px;
    color: $primary;

}
.containerText p{
    font-size: 16px;
    color: $text;
    
}
span{
    color: $accent;
}
.containerImage img{
    width: 435px;
    height: 601px;
    border-radius: 30px;
    
}
.containerImage{
    width: 507px;
    height: 673px; 
    background-color: $secondary;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
