    @use "../../../styles/variables" as *;

    .aProjects {
        text-decoration: none;
    }

    .btProjects {
        overflow: hidden;
        width: 8rem;
        height: 3rem;
        background-color:$accent;
        border-radius: 2.5rem;
        display: flex;
        align-items: center;
        border: none;

    }

    .btProjects img {
        width: 7rem;
        margin-left: 1rem;
    }

    .btProjects p {
        font-size: 0.8rem;
        font-weight: bold;
        font-family: $font;
        color: $text;
        text-align: center;
        margin-bottom: 1.7rem;
    }

    .btProjects:hover {
        background-color: $secondary;
    }

    .btContact {
        width: 10rem;
        height: 3rem;
        border: 1px solid $primary;
        background-color: transparent;
        font-size: 0.8rem;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        color: $primary;
    }

    .btContact:hover {
        width: 12rem;
        height: 4rem;
    }

    .aContact {
        text-decoration: none;
    }

    .aArticles {
        text-decoration: none;
    }

    .btArticles {
        width: 15rem;
        height: 4rem;
        border: 1px solid $primary;
        border-radius: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        margin-top: 1.5rem;
        background-color: transparent;
    }

    .btArticles:hover {
        background-color: $accent;
        width: 17rem;
        height: 5rem;
    }

    @media (max-width: 1440px) {
        .btProjects {
            width: 8rem;
            height: 2.8rem;
            font-size: 0.75rem;
            gap: 1rem;
        }

        .btProjects p {
            margin-bottom: 1.7rem;
            
            font-size: 1rem;
        }

        .btProjects img {
            width: 1.5rem;
        }


        .btArticles {
            width: 13rem;
            height: 3.8rem;
        }
    }

    @media (max-width: 1044px) {
        .btProjects {
            width: 7rem;
            height: 2.5rem;
            font-size: 0.7rem;
            gap: 0.5rem;
        }

        .btProjects img {
            width: 1.5rem;
        }



        .btArticles {
            width: 13rem;
            height: 3.5rem;
            gap: 1rem;
        }
    }

    @media screen and (min-width: 360px) and (max-width: 414px) {
        .btProjects {
            gap: 0.5rem;
        }

        .btProjects img {
            width: 2rem;

        }
        .btProjects p {
            padding: 0.8rem 0.2rem 0  0; 
            font-size: 1rem;
            text-align: center;
        }

    }