@use "../../styles/variables.scss" as *;

.container{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    border-radius: 50px;
}
.container h1{
    font-size: 128px;
    color:$background;
}
.conteudo_img img   {
    height: 600px;
    width: 400px;
}
.container__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.conteudo_text{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 30px;
    width: 800px;
}
.conteudo_text h2{
    font-size: 32px;
    color: $primary;
}
.conteudo_text p{
    font-size: 13px;
}
