@use "../../../styles/variables" as *;

.conteiner {
    height: 1080px;
    display: flex;
    background: rgb(169,126,246);
    background: linear-gradient(180deg, rgba(169,126,246,1) 41%, rgba(176,151,221,1) 69%);
    font-weight: bold;
    font-family: $font;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}

.conteinerDescription {
    width: 35rem;
    height: 41rem;
}

.TextAbout h1 {
    font-size: 6rem;
    color: $primary;
}

.TextAbout p {
    font-size: 1rem;
}

.TextAbout span {
    color: $primary;
}

.photo img {
    width: 35rem;
    height: 46.67rem;
    border-radius: 30px;
}

.contact {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

@media (max-width: 1440px) {
    .conteiner {
        width: 100%;
        height: auto;
        
    }

    .conteinerDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .TextAbout h1 {
        font-size: 4.5rem;
    }

    .TextAbout p {
        font-size: 0.9rem;
    }

    .photo img {
        width: 25rem;
        height: 33.33rem;
    }
}


@media (max-width: 1044px) {
    .conteiner {
        flex-direction: column;
        gap: 1.5rem;
    }

    .conteinerDescription {
        width: 25rem;
        height: auto;
        text-align: center;
    }

    .TextAbout h1 {
        font-size: 3.5rem;
    }

    .TextAbout p {
        font-size: 0.8rem;
    }

    .photo img {
        width: 20rem;
        height: 26.67rem;
        padding-top: 1rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }
}
@media screen and (min-width: 360px) and (max-width: 414px) {
    .conteiner {
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 0;
      height: auto;
    }
  
    .conteinerDescription {
      width: 90%;
      height: auto;
      text-align: center;
    }
  
    .TextAbout h1 {
      font-size: 2.5rem;
    }
  
    .TextAbout p {
      font-size: 0.7rem;
      padding: 0 1rem;
    }
  
    .photo img {
      width: 80%;
      height: auto;
      margin: 2.5rem ;
    }
  
    .contact {
      gap: 0.5rem;
      flex-direction: column;
    }
  }
  
  
  