@use "../../styles/variables" as *;

.cardProject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $font;
    background-color: $background;
    padding-left: 150px;
    .screenWebsite {
      flex: 1;
    }
  
    .textProjects {
      flex: 1;
      
    }
  }
  
  .reverse {
    flex-direction: row-reverse;
    background-color: $secondary;
  }
  

.textProjects{
   
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.textProjects h1{
    color: $accent;
}
.textProjects p{
    color: $text;
    margin-top: 30px;
    width: 400px;
}
.technologics{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btLinks {
    gap: 30px;
    display: flex;
} 
.btLinks a{
    text-decoration: none;
}
.buttonGitHub, .buttonWeb {
    width: 200px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:$accent ;
    border: none;
    gap: 10px;
    
}
.btLinks p{
    color: $text;
    font-weight: bold;
    
}