@use "../../styles/variables" as *;

.cardProject {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 1080px;
    font-family: $font;
    background-color: $background;
    gap: 100px;
}
    .screenWebsite {
      flex: 1;
      width: 390px;
      height: 580px;
      display: flex;
      justify-content:end;
    }
  
    .textProjects {
        flex: 1;
    }
  
  
  .reverse {
    flex-direction: row-reverse;
    background-color: $secondary;
  }

  .reverse .screenWebsite {
    display: flex;
    justify-content: start;
  }
  .reverse .textProjects {
    display: flex;
    
    align-items: end;
   
    
  }

.textProjects{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        width: 50px;
        height: 600px;
        text-align: left;
        }

.textProjects h1{
    color: $accent;
}
.textProjects p{
    color: $text;
    margin-top: 30px;
    width: 400px;
}
.btLinks{
    display: flex;
    flex-direction:column ;
}
.btComponent {
    display: flex;
    gap:27px;
}
.technologies{
    display: flex;
}
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-top: 10px;
}
.tech img{
    width: 30px;
    height: 30px;
}   
.tech span{
    color: $text;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
   
}