@use "../../styles/variables.scss" as *;

.conteiner{
    width: 1920px;
    height: 1080px;
    display: flex;
    background: rgb(169,126,246);
    background: linear-gradient(180deg, rgba(169,126,246,1) 41%, rgba(176,151,221,1) 69%);
    font-weight: bold;  
    font-family: $font;
    justify-content: center;
    align-items: center;
    gap: 46px ;

}
.conteinerDescription{
    width: 558px;
    height: 653px;
}
.TextAbout h1{
    font-size: 96px;
    color: $primary;
}
.TextAbout p{
    
    font-size: 16px;


}
.TextAbout span{
    color: $primary;
} 
.photo img{
    width: 550px;
    height: 607px;
}
.contact{
    display: flex;
    margin-top: 50px;
    gap: 13px;
}
