@use "../../styles/variables" as *;

.container{
    width: 100%;
    height: 100px;
    background-color:$secondary;
    font-size: 20px;
    color: $primary;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-family: $font;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    //margin-left: 50px;
}

.logo img{
    width: 44px;
    color:  $primary;
  //  margin-left: 156px;
      

}
.navigation{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 100px;
    color: $primary;
    font-size: 20px;
    font-weight: bold;

}
.navigation a{
    text-decoration: none;
}
.navigation a:hover{
    color: $text;
    font-size: 23px;
}
.btMode{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
 .btLanguage{
    border-radius: 20px;
    background-color: $primary;
    height: 36px;
    color: $background;
    border: none;
    font-family: $font;
}

.btLanguage{
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
}
.btLanguage img{
    height: 18px;
}