@use "../../styles/variables" as *;
footer{
    width: 1920px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-weight: bold;
    font-size: 14px;
    color: $primary;
}
.icons{
    display: flex;
    flex-direction: row;
    
    
}