@use "./styles/variables" as *;

*{
    cursor: none;
    
}


.cursor{
    background-color:green;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.cursor::after {
    content: '';
    height: 6px; /* Tamanho do ponto central */
    width: 6px;
    background-color: #4600be; /* Cor do ponto central */
    border-radius: 50%;
}
