@use "./styles/variables" as *;

*{
    cursor: none;
}
.titleProjects{
    color: $primary;
    background-color: $background;
    font-size: 96px;
    font-weight: bold;
    font-family: $font;
    text-align: center;
    padding-top: 0px;
}
 

.cursor{
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}