@use "../../styles/variables" as *;

.waveAbout,.waveArticle{
    position: relative;
    top: 0.25rem;
}
.waveAbout,.waveAboutParaBaixo,.waveArticle{
    background-color: $background;
    
}
@media (max-width: 1440px) {
    .waveAbout,.waveAboutParaBaixo,.waveArticle{
        width: 100%;
        
    }
}
@media (max-width: 1044px) {
    .waveAbout,.waveAboutParaBaixo,.waveArticle{
        width: 100%;
        
    }
}
@media screen and (min-width: 640px) and (max-width: 896px) {
    .waveAbout,.waveAboutParaBaixo,.waveArticle{
        width: 100%;
        
    }
}
@media screen and (min-width: 360px) and (max-width: 414px) {
    .waveAbout,.waveAboutParaBaixo,.waveArticle{
        width: 100%;
        
    }
}
