@use "../../../styles/variables" as *;

.cardProject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: $font;
    background-color: $background;
    padding: 5rem 0;
}

.textProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 60rem;
    height: 38rem;
    border-radius: 2rem;
    background-color: #f0ecf9;
}

.textProjects h1 {
    color: $accent;
}

.textProjects p {
    color: $text;
    margin-top: 1.8rem;
    width: 38rem;
}


.btComponent {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.technologies {
    display: flex;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem 0 0;
}

.tech img {
    width: 1.8rem;
    height: 1.8rem;
}

.tech span {
    color: $text;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

@media (max-width: 1440px) {


    .textProjects {
        width: 50rem;
        height: 34rem;
        padding: 0 5rem;
        text-align: center;
    }

    .textProjects p {
        width: auto;

    }
}

@media (max-width: 1044px) {
    .textProjects {
        width: 40rem;
        height: 34rem;
        padding: 0 5rem;
        text-align: center;
    }

    .textProjects p {
        width: auto;
    }

    .technologies {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 640px) and (max-width: 896px) {
    .cardProject {
        flex-direction: column;
    }

    .textProjects {
        width: 80%;
        height: auto;
        padding: 3rem 2rem;
        text-align: center;
    }

    .textProjects p {
        width: 100%;
        margin-top: 1.5rem;
    }

    .btComponent {
        gap: 1rem;
    }

    .technologies {
        justify-content: center;
        margin: 1rem 8rem 0 8rem;
        gap: 4rem;
    }
    .tech {
        margin: 1rem 0;
    }
}


@media screen and (min-width: 360px) and (max-width: 414px) {
    .cardProject {
        flex-direction: column;
    }

    .textProjects {
        width: 70%; 
        height: auto;
        padding: 2rem;
        text-align: center;
    }

    .textProjects p {
        width: 100%;
        margin-top: 1rem;
    }

    .btComponent {
        flex-direction: column;
        gap: 1rem;
    }
    .technologies {
        display:flex;
        justify-content: center;        
    }
    .tech img {
      width: 0.9rem;
      height: 0.9rem;
    }
    .tech span {
      font-size: 0.6rem;
    }
}